*.o
*.log
*~
build
arm
arm-build
debian/.debhelper/
debian/chatty.substvars
debian/chatty/
debian/debhelper-build-stamp
debian/files
.vscode
.flatpak-builder/
.#*
po/purims-chatty.pot
subprojects/libcmatrix/
