*.o
*.log
*~
build
_build
arm
arm-build
debian/*.debhelper/
debian/chatty*.substvars
debian/chatty/
debian/chatty-doc/
debian/debhelper-build-stamp
debian/files
debian/tmp
.vscode
.flatpak-builder/
.#*
po/purims-chatty.pot
subprojects/libcmatrix/
