Source: chatty
Section: net
Priority: optional
Maintainer: Mohammed Sadiq <sadiq@sadiqpk.org>
Build-Depends:
 appstream,
 appstream-util,
 debhelper (>= 11),
 desktop-file-utils,
 gnupg <!nocheck>,
 itstool,
 libgtk-4-dev,
 libfeedback-dev,
 libadwaita-1-dev (>= 1.5~),
 libebook-contacts1.2-dev,
 libgcrypt20-dev <!pkg.chatty.nocmatrix>,
 libgnome-desktop-4-dev (>= 43),
 libgstreamer1.0-dev,
 libjson-glib-dev <!pkg.chatty.nocmatrix>,
 libmm-glib-dev (>= 1.12.0),
 libphonenumber-dev,
 libpurple-dev <!pkg.chatty.nopurple>,
 libolm-dev <!pkg.chatty.nocmatrix>,
 libsecret-1-dev <!pkg.chatty.nocmatrix>,
 libsoup-3.0-dev <!pkg.chatty.nocmatrix>,
 libspelling-1-dev,
 libsqlite3-dev (>= 3.26.0),
 libebook1.2-dev,
 gsettings-desktop-schemas-dev,
 meson,
# to run the tests
 at-spi2-core,
 dbus-x11,
 xvfb,
 xauth,
Standards-Version: 4.2.1
Homepage: https://gitlab.gnome.org/World/Chatty
Rules-Requires-Root: no

Package: chatty
Architecture: any
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Recommends:
 gnupg,
 mmsd-tng,
 purple-xmpp-carbons,
 purple-lurch,
 purple-xmpp-http-upload,
 libgdk-pixbuf2.0-bin,
Suggests:
 calls,
Description: Messaging application for mobile and desktop
 Chatty is a simple to use to messaging app for 1:1 communication and small
 groups supporting SMS, MMS, XMPP and Matrix.
 .
 It works on desktops but also adjusts to small screen sizes like smart phones
 and other mobile devices.
